<!DOCTYPE html>
<html>

<head>
  <title>Search for Words on Screen.</title>
  <link href="/styles/base.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h1>Best Books!</h1>
  </header>
  <main>
    <h2 class="search-title">Search By Title or Author</h2>

    <form action="/searches" method="post">
      <input class="txt-search" type="text" name="search" placeholder="Enter Author or Title" required>
      <fieldset class="search-form">
        <label class="lab-but" for="title">Title</label>
        <input class="lab-but" type="radio" name="search" value="title" required>
      </fieldset>
      <fieldset class="search-form">
        <label class="lab-but" for="author">Author</label>
        <input class="lab-but" type="radio" name="search" value="author" required>
      </fieldset>
      <button class="google-button" type="submit">Search the Google Books API</button>
    </form>

  </main>
  <footer></footer>
</body>

</html>