<!DOCTYPE html>
<html>

<head>
  <title>Results</title>
</head>

<body>
  <main>
    <h1>
      <%= errorString %>
    </h1>
    <h2>
      Current Status: <%= error.status %>
    </h2>
  </main>
</body>

</html>