<header>
  <h1>Best Books!</h1>
  <div class="navbar">
    <a href="#home">Home</a>
    <a href="#news">Search Google Books API</a>
    <div class="dropdown">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>

    </div>
  </div>

</header>