<header>
  <h1>Best Books!</h1>
  
      <div class="navbar">
        <div class="dropdown">
          <button class="dropbtn">
            <div class="superFlex-div">
            <img class="hamburger-icon" src="/white-menu-icon-4.jpg">
            </div>
          </button>
          <div class="dropdown-content">
            <div class="header">
              <a href="/">Home</a>
              <a href="/searches/new">Search in the Google Books API</a>
            </div>   
          </div>
        </div>
      </div> 
    
</header>