<!DOCTYPE html>
<html>

<head>
  <link href="/styles/base.css" rel="stylesheet" type="text/css">
</head>


<body>
  <header>
    <h1>Best Books!</h1>
  </header>
  <main>
    <section class="total-saved-books">
      <h4><%=bookShelf.length%></h4>
      <h2 class="search-title">Saved Books</h2>
    </section>
    <form action="/searches/new" method="get">
      <button class="start-button" type="submit">
        Click to Get Started!
      </button>
    </form>
    <section>
      <% bookShelf.map(element => { %>
      <div class="disp-container">
        <div class="img-container">
          <img src="<%=element.image_url%>">
        </div>
        <h3><%=element.title%></h3>
        <h4><%=element.author%></h4>
      </div>
      <% }) %>
    </section>


  </main>
  <footer></footer>
</body>

</html>