<!DOCTYPE html>
<html>

<head>
  <link href="/styles/base.css" rel="stylesheet" type="text/css">
</head>


<body>
  <%- include('header.ejs') %>
  <main>
    <section class="total-saved-books">
      <h4><%=bookShelf.length%></h4>
      <h2 class="search-title">Saved Books</h2>
    </section>

    <section>
      <% for(let i=0; i < bookShelf.length; i++) { %>
      <%- include('detail', {bookDetail: bookShelf[i]}) %>
      <a href="/books/<%- bookShelf[i].id%>">View Details</a>
      <% } %>
    </section>



  </main>
  <footer></footer>
</body>

</html>