<!DOCTYPE html>
<html>

<head>
  <link href="/styles/base.css" rel="stylesheet" type="text/css">
</head>


<body>
  <header>
    <h1>CSS Sucks.</h1>
  </header>
  <main></main>
  <footer></footer>
</body>

</html>