<!DOCTYPE html>
<html>

<head>
  <title>Results for </title>
  <link href="/styles/base.css" rel="stylesheet" type="text/css">
</head>

<body>
  <%- include('header.ejs') %>
  <main>
    <section>
      <h2 class="search-title">Search Results</h2>

      <section>
        <%- include('detail.ejs', {bookDetail: searchResults}) %>

        <form action="/books/update/<%= searchResults.id%>" method="POST">
          <button type="submit">Update Details</button>
        </form>

        <form action="/books/removeBook/?_method=DELETE" method="POST">
          <button type="submit">Delete Book</button>
          <input type="hidden" name="id" value="<%= searchResults.id%>">
        </form>

      </section>

    </section>
  </main>
</body>

</html>