<!DOCTYPE html>
<html>

<head>
  <title>Results for </title>
  <link href="/styles/base.css" rel="stylesheet" type="text/css">
</head>

<body>
  <%- include('header.ejs') %>
  <main>
    <section>
      <h2 class="search-title">Search Results</h2>

      <section>
      <%- include('detail.ejs', {bookDetail: searchResults}) %>
        
      </section>

      
      <h3>

      </h3>
    </section>
  </main>
</body>

</html>